/*
Theme Name: Build Lite
Theme URI: http://www.sktthemes.net/shop/skt-build-lite/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: Build Lite is a simple responsive and adaptable multipurpose WordPress theme with focus more on construction, industrial, commercial, corporate, and business websites. However it can be used for personal and blogging purposes. Also since its compatible with Nextgen gallery can be used for portfolio and photography websites. It is also compatible with WooCommerce and Contact Form 7 and Yoast SEO. Demo Link: http://sktthemesdemo.net/construction/

Version: 1.6
License: GNU General Public License
License URI: license.txt
Text Domain: build-lite
Tags: yellow,black,gray,white,dark,one-column,two-columns,right-sidebar,responsive-layout,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments

Build Lite WordPress Theme has been created by SKT Themes(sktthemes.net), 2015.
Build Lite WordPress Theme is released under the terms of GNU GPL
*/
body{ margin:0; padding:0;line-height:20px; font-size:13px; color:#5c5c5c; font-family:Arial, Helvetica, sans-serif;}
*{ margin:0; padding:0; outline:none;}
img{ border:none; margin:0; padding:0; height:auto}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#efc62c;}
a:hover{ color:#b68023;}
ol,ul{ margin:0; padding:0;}
.entry-content ol li, .entry-content ul li{ margin-left:15px;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#484f5e; font-family:'Roboto Condensed', sans-serif; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; }
h1{ font-size:36px;}
h2{ font-size:30px;}
h3{ font-size:24px;}
h4{ font-size:20px;}
h5{ font-size:18px;}
h6{ font-size:14px;}
.clear{ clear:both;}
.alignnone{ width:100% !important;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px; border:1px solid #cccccc;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px; border:1px solid #cccccc;}
.left{ float:left;}
.right{ float:right;}
.space50{ clear:both; height:50px;}
.space100{ clear:both; height:100px;}
/*default pagination*/
.pagination{display:table; clear:both;}
.pagination .nav-links{ margin:20px 0;}
.pagination .nav-links a{ margin-right:5px; background:#646262; color:#fff; padding:5px 10px;}
.pagination .nav-links span.current, .pagination .nav-links a:hover { padding:5px 10px; background:#efc62c;}


#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

    
.logo{float:left; z-index:999;   color:#333;}
.logo h1{font-weight:400; margin:0; line-height:36px; color:#333; text-transform:uppercase;}
.logo h1 span{ color:#efc62c;}
.logo a{ color:#333;}
.logo a img{width: 200px;height: 85px;}
.container{ width:1160px; margin:0 auto; position:relative;}


/*header menu css*/
.toggle{display: block;}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; margin-top:5px; font-size:16px;}
.toggle a:hover{color:#ffffff !important;}
.sitenav{display:none;}
.header{width:100%; z-index:999999; top:0; background-color:#fff; border-bottom:4px solid #efc62c;}
.sitenav{ padding:0; text-align:right; float:right;}
.sitenav ul { float:right; margin:0; padding:0; font-family:'Roboto Condensed', sans-serif; font-weight:400; font-size:15px; text-transform:uppercase;}
.sitenav ul li{ display:inline-block; margin:0; position:relative; text-align:center;}
.sitenav ul li a{ padding:40px 13px; display:block; color:#333; }
.sitenav ul li ul li{display:block; position:relative; float:none; top:-1px; border-bottom:1px solid #e7e6e6;}
.sitenav ul li ul li a{display:block; padding-top:10px; padding-bottom:10px; position:relative; top:1px; text-align:left;  }
.sitenav ul li a:hover, .sitenav ul li.current_page_item a{ color:#efc62c; }

.sitenav ul li ul{display:none; z-index:9999999; position:relative;}
.sitenav ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; background-color:#fff;  box-shadow:0 2px 2px #333; }
.sitenav ul li:hover ul li ul{display:none; position:relative;}
.sitenav ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:1px;}


/* = header top sign in  css
-------------------------------------------------------------- */
/*Header Top Bar CSS*/
.headertop{ background-color:#222222; color:#FFF;}
.headertop .left{ font:600 16px/24px 'Roboto Condensed';}
.headertop .left a{ color:#fff; background:url(images/icon-email.png) no-repeat left 6px; padding:0 0 0 20px; }
.headertop .left a:hover{ color:#efc62c; }
.headertop .left span{border-left:1px solid #4a4a4a; margin-left:25px; line-height:44px; display:inline-block; background:url(images/icon-phone.png) no-repeat 15px 16px; padding:0 0 0 40px; }
.headertop .right a{ font:400 20px/30px 'Roboto Condensed'; background-color:#efc62c; color:#fff; padding:7px 20px; display:block; text-align:center; }


section#home_slider{ padding:0; border-bottom:4px solid #efc62c}
#FrontBlogPost, #wrapfirst, #wrapsecond{ padding:70px 0;}
h2.section-title {color:#454545; font:300 36px/40px 'Roboto Condensed',san-serif; text-align: center; }


/* = Services section css
-------------------------------------------------------------- */
#wrapfirst{ background-color:#f9f9f9}
.services-wrap, .welcomewrap{ visibility:hidden;}
.last_column{clear:right; margin-right:0 !important; }
#wrapsecond h2{ font-size:40px; color:#333; font-weight:600; margin-bottom:0; text-align:center; }

/*services section css*/
.services-wrap .one_third { width:25%; float:left; margin:0 3% 0 0; border:5px solid #f2f1f1; padding:30px 30px 0 30px; text-align:center;}
.services-wrap .one_third h4{ font-size:38px; margin:25px 0; color:#e5bd26; line-height:28px;}
.services-wrap .one_third h4 span{ font-size:24px; color:#515151; display:block;}
.services-wrap .one_third p{ margin-bottom:30px;}
.ReadMore{ background-color:#262626; color:#fff ; padding:8px 10px;}
.services-wrap .one_third:hover{ background-color:#f1cd49; border-color:#e4bc29; cursor:pointer;}
.services-wrap .one_third:hover h4{color:#fff;}
.MoreLink{ background-color:#262626; color:#fff ;display: inline-block; padding:6px 15px;}

.welcomewrap img{ float:right; margin:10px 0 0 30px; padding:7px; background-color:#fff; border:1px solid #e6e5e5;}
.welcomewrap p{ margin-bottom:30px;}
.welcomewrap h2{  margin-bottom:20px; font-size:38px; border-bottom:1px solid #dddddd; box-shadow: 0 1px 0 #fff; padding-bottom:10px; display:inline-block;}
.welcomewrap h2 span{ color:#efc62c;}

/* = social icons css
-------------------------------------------------------------- */
.social-icons a{ border:1px solid #fff; color:#fff; width:35px; height:35px; line-height:35px; text-align:center;  vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s;  margin:0 3px; padding:0; }
.social-icons br{ display:none;}
.social-icons a:hover{ border-color:#efc62c; color:#efc62c;}
.social-icons .fb{ background:url(images/icon-fb.png) no-repeat center center; }
.social-icons .tw{ background:url(images/icon-tw.png) no-repeat center center; }
.social-icons .gp{ background:url(images/icon-gp.png) no-repeat center center;}
.social-icons .in{ background:url(images/icon-in.png) no-repeat center center;}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main{ width:740px; margin:0; padding:0; float:left;}
#sitefull{ width:100%; float:none;}
#sitefull p{ margin-bottom:15px;}
.page_content{ padding:25px 0;}
.page_content p{ margin-bottom:20px; line-height:20px;}

.blog_lists{ margin-bottom:30px; }
.blog_lists h2{ margin-bottom:0px;}
.blog_lists h2 a{ color:#484f5e;}
.blog_lists h2 a:hover{ color:#34c6f6;}
.blog_lists p{ margin-bottom:10px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories{ display:inline; color:#000000;} 
.single_title{ margin-bottom:5px;}
.BlogPosts{ width:31.2%; float:left; margin:0 3% 0 0;}
.BlogPosts img{ width:100%;}
.BlogPosts h2{ margin:10px 0; font-size:22px; }
.post-thumb img{ float:left; margin:5px 25px 5px 0;}

/* = sidebar
-------------------------------------------------------------- */
#sidebar{ width:330px; float:right;}
aside.widget{margin-bottom:30px; background-color:#f6f4f4; padding:20px; border:1px solid #edecec;}
aside.widget ul{ list-style:disc; }
h3.widget-title{ background-color:#efc62c; padding:12px 15px; margin-bottom:1px; color:#fff;}
#sidebar ul li{ list-style:none; word-wrap:break-word;}
#sidebar ul li a{ background:url(images/sidebar-arrow.png) no-repeat 0 14px; padding:10px 0 10px 20px; color:#3b3b3b; border-bottom:1px dashed #d0cfcf; display:block; }
#sidebar ul li a:hover{ color:#34c6f6;}
#sidebar ul li:last-child a{ border:none;}



/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{background-color:#171717; position:relative; padding:45px 0 0; color:#fff;}
.cols-4{width:24%; float:left; margin:0 3% 2% 0; }
.widget-column-2 { width:19%;}
.widget-column-4 { margin-right:0px !important;}
.cols-4 h5{ font-weight:400; font-size:24px; color:#fff; margin-bottom:25px; border-bottom:1px solid #3f3f3f; padding-bottom:15px; text-transform:uppercase; }
.cols-4 h5 span{ font-weight:300; color:#efc62c; }
.cols-4 ul{ margin:0; padding:0; list-style:inside disc;}
.cols-4 ul li { display:block; padding:0;}
.cols-4 ul li a { color:#fff; font:normal 12px/24px Arial, Helvetica, sans-serif; background:url(images/list-arrow.png) no-repeat 0 2px; padding:0 0 0 20px;}
.cols-4 ul li a:hover, .cols-4 ul li.current_page_item a { color:#dd5145; }

.cols-4 a.readmore span{ color:#fff;}
.cols-4 p{ margin-bottom:15px;}
.cols-4 h1, .cols-4 h2, .cols-4 h3, .cols-4 h4, .cols-4 h5, .cols-4 h6{color:#fff;}
.phone-no{ margin:10px 0 20px; line-height:22px;}
.phone-no a{color:#d6d6d6;}
.phone-no a:hover{color:#d6d6d6;}
.phone-no strong { display:inline-block; color:#efc62c;}
.cols-4 .phone-no p{ margin-bottom:0;}
.widget-column-2 a{font:400 20px/24px 'Roboto Condensed',san-serif;}

.copyright-wrapper {  background-color:#000; position:relative; padding:15px 0;}
.copyright-txt { float:left;}
.copyright-txt span{color:#efc62c;}
.design-by { float:right;}
.recent-post{ min-height:70px; margin:0 0 20px 0;}
.recent-post img{ float:left; width:60px; margin:3px 10px 5px 0;}
.recent-post h6{ font-size:15px; color:#fff; margin:0 0 5px; font-weight:600;}
.recent-post h6:hover{color:#34c6f6;}
.recent-post:last-child{ border-bottom:none; margin-bottom:0; padding-bottom:0;}

/* Buttons */
.button{ background-color:#ff6565; border-bottom:4px solid #e44545; color:#fff; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#34c6f6; border-color:#1898c2; color:#fff;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto Condensed',san-serif; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto Condensed',san-serif; color:#ff6d84;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#efc62c; width:auto; border:none; cursor:pointer; font:18px 'Roboto Condensed',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}	

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'Roboto Condensed',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'Roboto Condensed',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}