.wrap .form-table th {
	font-weight: normal !important;
}

#wpcontent
{
	background: #fff;
}

.modal-survey_page_modal_survey_participants h3 sup {
    font-size: 10px;
    background-color: #CC4242;
    padding: 0px 10px;
    margin-left: 10px;
    margin-top: -15px;
    position: absolute;
    color: #fff;
    border-radius: 100px;
}

.ms-settings-checkbox {
	vertical-align: text-top !important;
}

.wrap .form-table td label
{
	margin: 0px 10px 0px 0px;
	vertical-align: text-top;
}

.help_link {
	position: absolute;
    right: 50px;
    top: 35px;
}

.help_link a {
	padding: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #42CC6C;
    color: #080808;
    margin-right: 10px;
}

#modal_survey_tabs
{
	margin-bottom: 300px;
}

.duplicate-notice {
	display: none;
	color: #fc0303;
}

.import-notice {
	color: #fc0303;
}

#dsurvey_name {
	width: 100%;
}

.ao-accordion h4 {
	display: none !important;
}

.qo-accordion h4 {
	display: none !important;
}

#wpbody .wrap, #screen_preloader
{
	min-height: 500px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.settings_page_modal_survey .minchoices, .settings_page_modal_survey .choices
{
	width: 60px;
	float: right;
}

.settings_page_modal_survey .wrap hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.settings_page_modal_survey .wrap h3 {
	font-family: 'Tangerine', serif;
	text-shadow: 4px 4px 4px #aaa;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
}

.settings_page_modal_survey .wrap h2 {
	font-family: 'Tangerine', serif;
	text-shadow: 4px 4px 4px #aaa;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
}

#modal_survey_accordion fieldset
{
	border: 1px solid #AAAAAA;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
 
.text input[type=checkbox]
{
	width: 15px;
}

.text input, .text select
{
	width: 100%;
}
 
.thankyou 
{
	width: 100% !important;
}

textarea.thankyou {
	height: 100px;
}

#modal_survey_accordion h3
{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-shadow: 0px 0px 0px #aaa;
	text-align: left;
	font-size: 12px;
}

#modal_survey_accordion .left_half {
	display: inline-block;
	width: 55%;
	vertical-align: top;
}

#modal_survey_accordion .text {
	display: block;
	font-size: 10px;
	color: #5D5D5D;
	font-weight: bold;
	width: 100%;
	text-align: left;
	padding-top: 10px;
}

#modal_survey_accordion .right_half {
	display: inline-block;
	width: 40%;
	text-align: center;
}

.question_text {
	vertical-align: middle;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.remove_answer, .add_answer, .add_question, .add_open_answer
{
	cursor: pointer;
	display: block;
	float: right;
	margin-right: 5px;
}

.open_answer_style {
	border: 1px solid #EBFD4B !important;
}

.open_answers_accordion h4 {
	background: none !important;
	border: none !important;
}

.open_answers_accordion div {
	border: none !important;
	padding: 0px !important;
}

.open_answers_accordion table {
	width: 100%;
}

.open_answers_accordion td {
	padding: 5px;
	font-size: 10px;
}

.ms-checkbox {
	width: auto !important;
}

.autocomplete_container {
}

a.answer_options, 
.answer_options img, 
a.answer_options:focus, 
.answer_options img:focus, 
a.answer_options:active, 
.answer_options img:active, 
a.question_options, .question_options img, 
a.question_options:focus, 
.question_options img:focus, 
a.question_options:active, 
.question_options img:active {
	-moz-outline-style: none !important;
    outline:none !important;
    outline: 0 !important;
	border-style: none !important;
	color:#fff; /*different color than regular*/
	background-color:#fff; /*different color than regular*/
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.ao-accordion .imageelement {
	width: 200px;
	text-align: center;
}

.ao-accordion .imageelement img {
	max-width: 100%;
}

.qo-accordion .imageelement {
	width: 200px;
	text-align: center;
}

.qo-accordion .imageelement img {
	width: 100%;
}

.left_aopts {
	width: 40%;
	display: inline-block;
	vertical-align: bottom;
	min-width: 200px;
}

.right_aopts {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
}

.right_aopts label span {
	vertical-align: sub;
	margin-left: 5px;
}

.right_aopts input {
	margin: 3px;
}

.left_qopts {
	width: 40%;
	display: inline-block;
	vertical-align: bottom;
	min-width: 200px;
}

.right_qopts {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	font-size: 12px;
}

.right_qopts label span {
	vertical-align: sub;
	margin-left: 5px;
}

.right_qopts input {
	margin: 3px;
}

.smallinput {
	width: 60px;
}

.answer_options {
	vertical-align: text-top;
}

.ao-accordion {
	border-top: 1px solid #ccc !important;
	margin-top: 10px !important;
}

.ao-accordion .ui-accordion-content {
	border-color: #ccc !important;
}

.qo-accordion {
	border-top: 1px solid #ccc !important;
	margin-top: 10px !important;
}

.qo-accordion .ui-accordion-content {
	border-color: #ccc !important;
}

span.ans_nmo {
  width: 40px;
  display: inline-block;
  text-align: right;
}

.answer_options img,
.question_options img {
	width: 16px;
	height: 16px;
	padding: 0px 5px;
	vertical-align: sub;
}

.question-area {
	margin-left: 25px;
}

.delete_open_answer {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.delete_open_answer  img{
	margin-left: 10px;
	cursor: pointer;
}

.open_answers_accordion  tr:nth-child(odd)
{
	background: #ececec;
}

.open_answers_accordion tr:nth-child(even)
{
	background: #fff;
}


.add_question, #modal_survey_accordion legend
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.remove_answer img, .add_answer img, .add_question img, .add_open_answer img
{
	padding-top: 5px;
}

.added_answers input
{
	width: 50%;
}

.canvas_graph {
}

.questions_block {
	width: 100%;
}

.shortcode_section {
	display: inline-block;
	float:right;
	font-size: 12px;
}
.answer_count:before
{
	content:url("../img/users.png");
	position: absolute;
	margin-top: -5px;
	margin-left: -30px;
}

.answer_count
{
	font-size: 12px;
	margin-left: 15px;
}

.modal_survey_preview {
	float: left;
    background: url("../img/select.png") repeat scroll center center transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #444444;
    cursor: pointer;
    height: 30px;
    width: 30px;
	margin-top: 12px;
	margin-left: 20px;
}

.one_question .added_answers, .one_question .default_answer {
	font-size: 12px;
	padding: 5px 0px;
}

.modal_survey_preview1002
{
	background-color: #000000;
}

.modal_survey_preview1003
{
	background-color: #5D5D5D;
}

.font_family
{
	width: 150px;
}

.play_button
{
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.play_button img {
	width: 100px;
	margin: 0 auto;
}

.ms-color-settings {
	margin-left: 25px;
}

.targets {
    margin:0 auto;
    text-align: center;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 0 auto;
    border-radius: 4px;
    width:auto;
    padding:10px;
}

.target_text {
    margin: 0px auto;
    margin-top: 40%;
    background: #f8f8f8;
    width: 70px;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
    color: #111;
}

.target {
   border: 1px solid;
   margin: 0px 10%;
   width: 150px;
   height: 150px;
   display:inline-block;
}

#target {
   border-radius: 150px;
}

.resul.ddlinkt {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   padding:12px;
   padding-left: 15px;
   margin: 10px 0px;
   border: 1px solid #ddd;
   background: #f8f8f8;
}

#gradX {
    height: 200px; 
    margin: 100px 34%;  
	display:none;
	position: absolute;
	z-index: 10;
	left:0%;
	top:0%;
}   

#gradx_show_code {
	display: none;
}

.inner
{
	margin-left: 3px;
	width: 24px;
	height: 19px;
	margin-top: 3px;
	background: linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -o-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -ms-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -moz-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -webkit-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
}

.ui-slider-range
{ 
	background: #5D5D5D; 
}
 
.ui-slider-horizontal
{ 
	background: #CCCCCC; 
	border: 1px solid #5D5D5D;
}
 
.ui-slider-handle
{ 
	border: 1px solid #5D5D5D;
	cursor: pointer;
}

.modal_survey_sliders
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal_survey_sliders.half
{
	width: 45%;
	margin-right: 10px;
	display: inline-block;
}

.modal_survey_sliders.full
{
	width: 100%;
	display: block;
}

.configuration_accordion:nth-of-type( 1 ) {
	width: 25%;
}

.configuration_accordion:nth-of-type( 2 ) {
	width: 40%;
}

.configuration_accordion:nth-of-type( 3 ) {
	width: 25%;
}

.configuration_accordion {
	margin: 0 auto !important;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0px 10px !important;
}

.rightfloat {
	float: right;
}

.configuration_accordion hr {
	padding: 10px 0px;
	width: 100%;
	box-shadow: 0px 1px 0px #ececec;
	border: 0px solid transparent;
	display: inline-block;
	margin: 0px 0px;
}

.modal_survey_sliders input[type=text] {
	width: 100%;
}

.configuration_accordion .ui-accordion-content {
	padding: 15px 15px 60px 15px !important;
	height: 675px !important;
}

.configuration_accordion .ui-accordion-header-icon {
	display: none;
}

.configuration_accordion h4 {
    height: 14px;
    font-size: 12px;
    background: #E4DDDD !important;
}

.modal_survey_sliders input
{
	height: 14px;
	font-size: 10px !important;
	border: 0px;
	padding:0px;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 0px 0px 0px !important;
}

.modal_survey_checkbox
{
	float: left;
	width: 140px;
	margin-left: 5px;
	margin-top: 17px;
}

#bglock
{
	position: fixed;
	display:none;
	top:0px;
	left:0px;
	z-index:999998;
	width:100%;
	height:100%;
	background:#000000;
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#survey .cl_survey
{
	position: absolute;
	right: 20px;
	top: 0px;
	cursor: pointer;
}

#survey .cl_top_survey
{
	position: absolute;
	right: 20px;
	bottom: 0px;
	cursor: pointer;
}

#ui-datepicker-div
{
	z-index: 2 !important;
}
#modal_survey_accordion .ui-accordion .ui-accordion-content
{
	vertical-align: middle;
	overflow: hidden !important;
}

.ui-accordion .ui-accordion-content {
	overflow: hidden !important;
}

.export-personal {
	margin-bottom: 200px;
}

.open_answers_accordion .click-nav2 {
	height: 190px;
}

.new_condition_line {
	font-size: 12px;
}

.one_condition_line .remove_condition img {
	vertical-align: text-top;
}

.conditions .conds {
	width: 150px;
}

.conditions .relation {
	width: 150px;
}

.conditions .condvalue {
	width: 100px;
}

.conditions .action {
	width: 200px;
}

.conditions .actionvalue {
	width: 250px;
}

.conditions h4, .participants_form h4, .ms_accordion_more_api h4, .endcontent_accordion h4 {
	height: 14px;
	font-size: 12px;
	background: #E4DDDD !important;
}

.getid {
    cursor: pointer;
}

.ms_accordion_more_api h4>span, .participants_form h4>span, .conditions h4>span, .endcontent_accordion h4>span {
	font-size: 10px;
	line-height: 14px;
	float: right;
	color: #B9A6A6;
    margin-right: 20px;
}

.participants_form, .ms_accordion_more_api, .endcontent_accordion
{
	margin-top: 10px !important;
}

.ms_accordion_more_api>div>div>div
{
	border-bottom: 1px solid #ececec;
	padding: 10px 0px;
}

.ms_accordion_more_api .text, .participants_form .text, .endcontent_accordion .text {
    display: inline-block !important;
    font-size: 10px !important;
    color: #5D5D5D !important;
    font-weight: bold !important;
    text-align: left !important;
    padding-top: 7px !important;
    padding-left: 10px !important;
    float: none !important;
    clear: both !important;
}

.modal-survey_page_modal_survey_savedforms .wrap .aright
{
	margin-left: 30px;
	display: table;
}

.modal-survey_page_modal_survey_savedforms .group {
    display: block !important;
}

.modal-survey_page_modal_survey_savedforms .wrap .dnone
{
	display: none !important;
}

.shortfield
{
	width: 200px !important;
}

.tinynote
{
	padding: 0px;
	margin-top: -20px;
	margin-left: 40px;
	color: #5E5E5E;
	font-size: 10px;
	display: inline;
}
 
.tinyfield
{
	width: 150px !important;
}

.one_condition_line {
	margin: 10px 0px;
	font-size: 12px;
}

.new_condition_line input, .new_condition_line select {
	height: 22px;
	vertical-align: baseline;
}

.new_condition_line img {
	padding-top: 5px;
	position: absolute;
}

.click-download
{
	display: inline-block;
	vertical-align: sub;
	margin-left: 20px;
}

.click-nav, .click-nav2 {
	display: inline-block;
}
.click-nav ul, .click-nav2 ul {
	font-weight:900;
	display: inline-block;
}

.click-nav ul li, .click-nav2 ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	z-index: 2;
	margin: 0px !important;
}

.click-nav ul li ul, .click-nav2 ul li ul {
	position:absolute;
	left:0;
	right:0;
	z-index: 9999; 
	background: #fff;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 5px;
}
.click-nav ul .clicker, .click-nav2 ul .clicker {
	position:relative;
	background:#2284B5;
	color:#FFF;
}
.click-nav ul .clicker:hover, .click-nav ul .active, .click-nav2 ul .clicker:hover, .click-nav2 ul .active {
	background:#196F9A;
}
.click-nav ul li a, .click-nav2 ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:5px 10px; 
	font-size: 10px;background:#FFF;
	color:#333;
	text-decoration:none;
}
.click-nav ul li a:hover, .click-nav2 ul li a:hover {
	background:#F2F2F2;
}

/* Fallbacks */
.click-nav .no-js ul, .click-nav2 .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul, .click-nav2 .no-js:hover ul {
	display:block;
}

#add_new_survey
{
	margin: 1px;
}

#error_log {
	margin-left: 10px;
}

#button-container {
	text-align: center;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}

.modal-survey-list-table
{
	width: 100%;
}

.modal-survey-list-table thead
{
	text-align: left;
	background: #5d5d5d;
	color: #fff;
	padding-left: 5px;
}

.modal-survey-list-table tbody td
{
	text-align: left;
	padding: 8px 18px !important;
	color: #000;
}

.modal-survey-list-table th:nth-child(1)
{
	width: 100px;
}

.modal-survey-list-table th:nth-child(3)
{
	width: 100px;
}

.modal-survey-list-table th:nth-child(4)
{
	width: 65px !important;
}

.modal-survey-list-table th:nth-child(5)
{
	width: 65px !important;
}

.modal-survey-list-table th:nth-child(6)
{
	width: 100px;
}

.modal-survey-list-table th:nth-child(7)
{
	width: 50px !important;
}

.modal-survey-list-table th:nth-child(8)
{
	width: 50px !important;
}

.modal-survey-list-table th:nth-child(9)
{
	width: 120px !important;
}

.modal-survey-list-table tbody  tr:nth-child(odd)
{
	background: #ececec;
}

.modal-survey-list-table tbody tr:nth-child(even)
{
	background: #fff;
}

.modal-survey-list-table-participants th:nth-child(1)
{
	width: 20px !important;
}

.modal-survey-list-table-participants th:nth-child(2)
{
	width: 50px !important;
}

.modal-survey-list-table-participants th:nth-child(3)
{
	width: 200px !important;
}

.modal-survey-list-table-participants th:nth-child(4)
{
	width: 200px !important;
}

.modal-survey-list-table-participants th:nth-child(5)
{
	width: 65px !important;
}

.modal-survey-list-table-participants th:nth-child(6)
{
	width: 65px !important;
}

.modal-survey-import-row
{
	margin: 0px 0px 20px 0px;
}

.modal_survey_import_form {
	width: 600px;
}

.modal_survey_import_form input, .import_survey-submit {
	float: right;
}

.modal_survey_import_form input [type=file]{
	float: left;
}

.button
{
	margin: 1px !important;
}

.nquestion {
	margin: 2px 5px 10px 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
	border: 0px !important;
	background: none !important;
}

.modal-survey-list-table a
{
	margin: 3px;
}

.modal-survey-list-table img
{
	width: 18px;
}

.wrap .arrow_box {
	position: absolute;
	background: #ececec;
	border: 1px solid #c2e1f5;
	padding: 0px;
	margin: -25px 0px 0px 250px;
	border-radius: 0px 3px 3px 0px;
}

.wrap .arrow_box p
{
	font-size: 10px;
	padding: 5px;
	margin: 0px;
}

.wrap .arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.wrap .arrow_box:after {
	border-color: rgba(236, 236, 236, 0);
	border-right-color: #ececec;
	border-width: 21px;
	margin-top: -21px;
}
.wrap .arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 22px;
	margin-top: -22px;
}

.ms-user-panel {
	display: inline-block;
	width: 20%;
	padding-right: 1.5%;
	text-align: right;
	vertical-align: top;
}

.ms-userstat-panel {
	display: inline-block;
	width: 70%;
	padding-left: 2%;
	vertical-align: top;
	border-left: 1px solid #ececec;
}

.ms-userstat-panel-buttons {
	text-align: center;
	padding-right: 8%;
}

.ms-userstat-panel-buttons select {
	width: 35%;
}

.ms-userstat-panel-buttons input {
	width: 20%;
}

.chart-personal {
	display: inline-block;
	width: 45%;
}

.chart-global {
	display: inline-block;
	width: 45%;
	margin-left: 2%;
}

.text-results {
	display: inline-block;
	width: 95%;
}

.chart-personal p, .chart-global p, .text-results p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
    background-color: #42CC6C;
    padding: 3px 5px;
    color: #fff;
    border-radius: 100px;
}

.text-results p, .ms-plain-results {
	margin-right: 20px;
}

.ms-user-avatar {
	border: 2px solid #ececec;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.ms-details {
	margin: 10px 10px 0px 15px;
	text-align: right;
}

.ms-details .title {
	text-decoration: underline;
	font-size: 10px;
}

.ms-details .data {
	font-weight: bold;
	font-size: 12px;
}

.ms-details .data  a {
	text-decoration: none;
    color: #000;
}