@font-face {
	font-family: 'fontawesome';
	src: url("fonts/fontawesome-webfont.eot?social");
	src: url("fonts/fontawesome-webfont.eot?#iefixsocial") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?social") format("woff"), url("fonts/fontawesome-webfont.ttf?social") format("truetype"), url("fonts/fontawesome-webfont.svg?social#icons") format("svg");
	font-weight: normal;
	font-style: normal; 
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f082";
}

.icon-google:before {
	content: "\f0d5";
}

.icon-pinterest:before {
	content: "\f0d2";
}

.icon-linkedin:before {
	content: "\f08c";
}

.social-sharing {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.social-sharing * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.social-sharing a {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	text-decoration: none;
	font-weight: normal;
	border: 0px solid transparent !important;
}

.social-sharing a:hover {
	color: #fff;
}

.social-sharing span {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.social-sharing .icon {
	padding: 0 5px 0 10px !important;
	color: #fff;
}

.social-sharing .icon:before {
	line-height: 22px;
}

.social-sharing.is-large a {
	height: 44px;
	line-height: 44px;
}

.social-sharing.is-large a span {
	height: 44px;
	line-height: 44px;
	font-size: 18px;
}

.social-sharing.is-large a .icon {
	padding: 0 10px 0 18px;
}

.social-sharing.is-large a .icon:before {
	line-height: 44px;
}

.share-title {
	font-weight: 600;
	color: #fff;
	font-size: 12px;
	padding: 0px 10px 0px 0px !important;
 }
 
.is-clean .share-title {
 	color: #000;
}
 
.is-clean .icon {
 	color: #000;
}
 
.is-large .share-title {
    padding-right: 16px;
}

.share-facebook {
	background-color: #3b5998;
}

.share-facebook:hover {
    background-color: #2d4373;
}

.share-twitter {
	background-color: #00aced;
}
.share-twitter:hover {
    background-color: #0087ba;
}

.share-pinterest {
	background-color: #cb2027;
}

.share-pinterest:hover {
    background-color: #9f191f;
}

.share-linkedin {
	background-color: #007bb6;
}

.share-linkedin:hover {
    background-color: #0020b6;
}

.share-google {
	background-color: #dd4b39;
}

.share-google:hover {
    background-color: #c23321;
}

.share-count {
	position: relative;
	background-color: white;
	padding: 0 8px;
	margin-right: -2px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	border-radius: 0 2px 2px 0;
	border: 1px solid #ececec;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
}

.share-count.is-loaded {
    opacity: 1;
}

.share-count:before,
.share-count:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
}

.share-count:before {
    left: -6px;
    border-right-color: #ececec;
}

.share-count:after {
    left: -5px;
    border-right-color: white;
}

a:hover .share-count {
    background-color: whitesmoke;
}

a:hover .share-count:after {
	border-right-color: whitesmoke;
}

.is-large .share-count {
    font-size: 18px;
    padding: 0 14px;
}

/*================ Clean Buttons ================*/
.social-sharing.is-clean a {
	background-color: #fff;
	border: 1px solid #ececec;
	color: #333;
}

.social-sharing.is-clean a span {
}

.social-sharing.is-clean a:hover {
    background-color: #ececec;
}

.social-sharing.is-clean a:hover .share-count {
    background-color: white;
}

.social-sharing.is-clean a:hover .share-count:after {
	border-right-color: white;
}

.social-sharing.is-clean a .share-title {
    font-weight: normal;
}
.social-sharing.is-clean .share-count {
	top: -1px;
}
.social-sharing.is-clean .icon-facebook {
	color: #3b5998;
}
.social-sharing.is-clean .icon-twitter {
	color: #00aced;
}
.social-sharing.is-clean .icon-linkedin {
	color: #007bb6;
}
.social-sharing.is-clean .icon-pinterest {
	color: #cb2027;
}
.social-sharing.is-clean .icon-google {
	color: #dd4b39;
}